<div class="row">
  <div class="card-container">
    <div class="transportation-body">
      <div class="transportation-title">
        Today's mode of transport
      </div>
      <div class="transportation-modes">
        <ul class="list-unstyled">
          <li>
              <p class="mode"><i class="fas fa-walking"></i>&nbsp;Walking</p>
              <div class="transportation-co2"><input type="text" class="form-control transportation-input" placeholder="0">&nbsp;km</div>
          </li>
          <li>
            <p class="mode"><i class="fas fa-bicycle"></i>&nbsp;Cycling</p>
            <div class="transportation-co2"><input type="text" class="form-control transportation-input" placeholder="0">&nbsp;km</div>
          </li>
          <li>
            <p class="mode"><i class="fas fa-motorcycle"></i>&nbsp;Scooter</p>
            <div class="transportation-co2"><input type="text" class="form-control transportation-input" placeholder="0" id="mode-scooter" data-type="scooter">&nbsp;km</div>
          </li>
          <li>
            <p class="mode"><i class="fas fa-car"></i>&nbsp;Car</p>
            <div class="transportation-co2"><input type="text" class="form-control transportation-input" placeholder="0" id="mode-car">&nbsp;km</div>
          </li>
          <li>
            <p class="mode"><i class="fas fa-bus"></i>&nbsp;Bus</p>
            <div class="transportation-co2"><input type="text" class="form-control transportation-input" placeholder="0" id="mode-bus">&nbsp;km</div>
          </li>
          <li>
            <p class="mode"><i class="fas fa-subway"></i>&nbsp;Tram</p>
            <div class="transportation-co2"><input type="text" class="form-control transportation-input" placeholder="0" id="mode-tram">&nbsp;km</div>
          </li>
          <li>
            <p class="mode"><i class="fas fa-train"></i>&nbsp;Train</p>
            <div class="transportation-co2"><input type="text" class="form-control transportation-input" placeholder="0" id="mode-train">&nbsp;km</div>
          </li>
          <li>
            <p class="mode"><i class="fas fa-plane"></i>&nbsp;Plane</p>
            <div class="transportation-co2"><input type="text" class="form-control transportation-input" placeholder="0" id="mode-plane">min</div>
          </li>
        </ul>
      </div>
      <%= simple_form_for(@transportation) do |f| %>
          <%= f.submit 'Submit', class: "btn btn-secondary" %>

        <div class="co2-transp-info">
          <%= image_tag("co2.svg", class: 'co2-icon') %>&nbsp;
          <%= f.input :carbon, input_html: { id: 'totalTranspCarbon' || 0 }, label: false, placeholder: '0' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
