
  <div class="challenge-row">
    <div id="card-container" class="card-container">
      <div id="flipcard" class="flipcard <%= 'flipped' if @user_challenge %>">
        <div class="challenge-body front-side" style="background-color: #c9c9c9;">
          <div id='reveal'> <%= link_to "Reveal Challenge", challenge_user_challenges_path(@challenge), method: :post, remote: true, class: 'btn btn-primary' %>
          </div>
          <div class="co2-info" style="background-color: #c9c9c9">
          </div>
        </div>
        <div id='backside'>
        <%= render 'backside', challenge: @challenge, user_challenge: @user_challenge %>
        </div>
      </div>
    </div>
  </div>
