// Our color variables

// Initially selected blue
$blue: #6AA8C5;
// Darker version of the same blue
$darkblue: #266A89;
// Lighter version of the same blue
$lightblue: #7EC8EA;

// Very dark gray
$black: #282828;
$white: #FFFFFF;

// For secondary button
$green: #50B774;
$darkgreen: #3E8E5A;

// Bootstrap colors:
$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000000;
$light-gray: #F4F4F4;
