.event {
  margin-top: 50px;
  background-color: white;
  border: 1px solid #80808040;
  box-shadow: 1px 1px 1px 1px, #80808040;
  box-shadow: 1px 1px 1px 1px #80808040;
  border-radius: 4px;
  height: 650px;
}
input.btn.btn-primary.event-button {
  margin: 0px !important;
}
.popup-content {
  display: none;
  position: absolute;
  transition: all ease 1s;
}
.show {
  display:block;
  bottom: 30px;
  background-color: beige;
  width: 380px;
  right: -35px;
  height: 280px;
  border: 1px solid #80808040;
  box-shadow: 1px 1px 1px 1px, #80808040;
  box-shadow: 1px 1px 1px 1px #80808040;
  border-radius: 4px;
  overflow: scroll;
  background-color: $darkblue;
  color: white;
  padding:20px;
  text-align: -webkit-auto;
}
.title-event {
  padding-left: 5%;
}
.flex-events-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.user-box {
  flex: 0 0 35%;
  position: sticky !important;
  top: 90px !important;
  height: 500px;
  text-align: center;
  padding: 30px;
  background-color: white;
  border: 1px solid #80808040;
  box-shadow: 1px 1px 1px 1px #80808040;
  border-radius: 4px;
  margin-top: 10px;
}
input.btn.btn-primary.less-margin {
 margin-left: 10px !important;
 margin: 0px;
}
div.scroll {
  overflow: scroll;
  display: inline-block;

}
.events-search-input {
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 1px 1px #80808040;
  margin-right: 5px;
}
.btn.btn-secondary {
  box-shadow: 1px 1px 1px 1px #80808040;
}

.event-card-container {}

.event-box-grown {
  height: 600px !important ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.injection {
  height: 0px;
  opacity: 0;
  pointer-events: none;
  transition: all ease 1s;
}
.injection-shown {
  height: fit-content;
  opacity: 1;
}
.comments-parent-box {
  text-align: -webkit-center;
  height: 500px;
  overflow: scroll;
}
.comment-box {
  text-align: -webkit-auto;
  margin: 15px;
  width: 300px;
  background-color: #266A89;
  border-radius: 5px;
  color: white;
  padding: 10px;
}
.username {
  font-size: 12px;
  color: #808080;
}
.events-box {
  transition: all ease 1s;
  height:220px;
  margin: 10px;
  border: 1px solid #80808040;
  box-shadow: 1px 1px 1px 1px, #80808040;
  box-shadow: 1px 1px 1px 1px #80808040;
  border-radius: 4px;
  // overflow: scroll;
  background-color: $darkblue;
  color: white;
  padding: 30px;
  width: 45vw;
  // overflow: hidden;
}
a.event-link {
  text-decoration: none;
  text-decoration: none !important;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
  border-bottom: 3px solid !important;
}
div.event-link {
 border-bottom: 3px solid !important;
}

.event-links  {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  padding: 8px 8px 8px 32px;
  text-decoration: none !important;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
}
.event-links a:hover, .offcanvas a:focus{
  color: #f1f1f1 !important;
  cursor: pointer;
}
a.event-link:hover, .offcanvas a:focus{
  color: #122833db;
  cursor: pointer;

}
.event-link:hover, .offcanvas a:focus{
 color: #f1f1f1 !important;

}
.author-image {
  display: flex;
  padding-top: 50px;
}

.avatar-events {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.avatar-event-creator {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
div.button-event {
  display: flex;
  justify-content: center;
}




