.event {
  margin-top: 50px;
  background-color: white;
  border: 1px solid #80808040;
  box-shadow: 1px 1px 1px 1px, #80808040;
  box-shadow: 1px 1px 1px 1px #80808040;
  border-radius: 4px;
  height: 650px;
}
.title-event {
  padding-left: 25%;
}
.flex-events-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  height: 80%;
  height: 60vh;
}
.user-box {
  flex: 0 0 20%;
  position: sticky;
  height: 400px;
  text-align: center;
  padding: 30px;
  background-color: white;
  border: 1px solid #80808040;
  box-shadow: 1px 1px 1px 1px, #80808040;
  box-shadow: 1px 1px 1px 1px #80808040;
  border-radius: 4px;
}
.event-card-container {
  height: 400px;
  overflow: scroll;
}
.event-box-grown {
  height: 350px !important ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.injection {
  height: 0px;
  opacity: 0;
  pointer-events: none;
  transition: all ease 1s;
}
.injection-shown {
  height: fit-content;
  opacity: 1;
}
.events-box {
  transition: all ease 1s;
  height:220px;
  margin: 10px;
  border: 1px solid #80808040;
  box-shadow: 1px 1px 1px 1px, #80808040;
  box-shadow: 1px 1px 1px 1px #80808040;
  border-radius: 4px;
  overflow: scroll;
  background-color: #122833db;
  color: white;
  padding: 30px;
  width: 45vw;
  overflow: hidden;
}
a.event-link {
  text-decoration: none;
  text-decoration: none !important;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
}
.event-links  {
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly;
  padding: 8px 8px 8px 32px;
  text-decoration: none !important;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
    // text-shadow: 1px 1px #a7a7a7;
  }
  .event-links a:hover, .offcanvas a:focus{
    color: #f1f1f1 !important;

  }
  a.event-link:hover, .offcanvas a:focus{
    color: #122833db;

  }
  .event-link:hover, .offcanvas a:focus{
   color: #f1f1f1 !important;

  }
  .event-hr {
    color: #818181;
    transition: 0.3s;
    margin-bottom: 0px;
  }

  .event-index {

    border: 0;
    margin-bottom: 0;
    margin-top: 50px;
    border: 1px solid #efefef;
    background-color: #fff;
    border-radius: 4px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 8px;
    padding: 16px;
    padding-top: 16px;
  }


  .author-image {
    display: flex;
    padding-top: 50px;
  }

  .description {
    background-color: white;
    box-shadow: 1px 1px #eae7e7;
    border: 1px solid #e8e8e8;
    height: 300px;
    margin: 20px;
    border-radius: 4px;
    padding: 15px;
  }
  .avatar-events {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  // margin: 30px;
}
 .avatar-event-creator {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  // margin: 30px;
}
.head-event {
  display:flex;
}
.buttons-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}
.button-event {
  background: none;
  border: 1px solid;
  cursor: pointer;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  color: grey !important;
  text-decoration: none !important;
  margin-top: 10px !important;

  &:focus { outline: 2px dotted #55d7dc; }
}



