#canva {
  width: 100vw !important;
  img {
    height: 100vh;
  }
}

.jumbotronstyle {
  top: 30%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.flex1 {
  text-shadow: 1px 1px #fffc;
}

// .flex2 {
//   text-shadow: 1px 1px #fffc;
// }

// .home-banner {
//   position: absolute;
// }

// .take-quiz {
//   position: relative; left: 50%;
//   transform: translateX(-50%);
//     bottom: 545px;
//   }

// @media only screen and (max-width:900px){
//   .take-quiz {
//     left: 115px;
//   }
// }
