#canva {
  width: 100vw !important;
  img {
    height: 100vh;
  }
}

.jumbotronstyle {
  top: 30%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.flex1 {
  text-shadow: 1px 1px #fffc;
}
.flex2 {
  padding-bottom: 30px;
}


