// Specific CSS for your home-page
#canva {
  width: 100vw !important;
  img {
    height: 100vh;
  }
}
.home-banner {
  position: absolute;
}

.take-quiz {
  position: relative; left: 50%;
  transform: translateX(-50%);
    bottom: 545px;
  }

@media only screen and (max-width:900px){
  .take-quiz {
    left: 115px;
  }
}
