.past-challenges-container {
  width: 100%;
  height: 100vh;
  margin: 100px 10px 0px 10px;
  text-align: center;
}

.past-challenge {
  margin-top: 50px;
  height: 80vh;
}
 .fa-info-circle {
    content: "\f05a";
    color: whitesmoke !important;
  }
