.banner-quiz{
 background-image: url('https://images.unsplash.com/photo-1464419014442-769c523d575b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f81f0e192a716f797b429deb58aea5d9&auto=format&fit=crop&w=1350&q=80');
 height: 100vh;
}
.quiz{
 background-color: white;
  text-align: center;
  opacity: 0.9;
  padding: 22px 0;
  border-radius:0 0 5px 5px;
}
  .container{
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
  }

.question1{
 display: block
}
.question2{
 display: none
}
.question3{
 display: none
}
.question4{
 display: none
}
.question5{
 display: none
}


