.avatar-tip {
  height: 45px;
  width: 45px;
  border-radius: 50px;
}

.tip {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;

}

.avatar-name {
  display: grid;
  font-size: 14px;
}

.tip-container {
  display: table-cell;
  width: 305px;
  margin: 0 auto !important;
}

.tip-created-at {
  font-size: 10px;
  opacity: 0.5;
}
.tips-show {
  background-color: white;
  color: gray;
  opacity: 0.9;
  border-radius: 3px;
  // background-color: #6AA8C5;
  height: 74vh;
  min-width: 352px;
  position: absolute;
  overflow: scroll;
  height: 535px;
  padding-bottom: 106px;
}

.tips-show-hidden {
  display: none;

}

.content {
  text-align: left;
}


.btn-close {
  margin-top: 10px;
  margin-left: 320px;
}
 .tip-form {
  position: fixed;
  bottom: 30px;
  display: flex;
  background: white;
  z-index: 4;
  padding: 15px;
 }

 .tip-form-content {
  margin: 0 18px;
 }

 #tip_content {
  margin-bottom: 10px;
  border-radius: 5px;
 }

 @media only screen and (max-width:900px) {
  .tip-form {
  position: fixed;
  bottom: 0px;
   }
 }
