@media (max-width: 1030px) {
  .flex-events-box {
    height: 100vh !important;
    margin-top: 0 !important;
    display: block;
  }
  .event-card-container {
    width: 100% !important;
    form {
      display: flex;
    }
  }
  .avatar-events {
    display: none;
  }
  .hide-mobile {
    display: none;
  }
  .events-box {
    width: 100% !important;
    height: 245px;
    margin: 20px 0;
    box-shadow: 2px 2px 2px 2px #969494eb;
  }
  .user-box {
    height: auto;
    padding: 0;
    flex: 0 0 30%;
    position: relative !important;
    top: 0 !important;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .event-link {
    margin: 10px;
  }
  .event-links {
    margin-top: 15px;
  }

  .event-box-grown {
    height: 615px !important;
  }
  .popup-content.show {
    width: 333px;
    right: 19px;
  }
}
