<% transportation = Transportation.first %>

 <div class="challenge-container">
  <div class="transportation-body">
    <div class="transportation-title">
      Today's mode of transport
    </div>
    <div class="transportation-modes">
      <ul class="list-unstyled">
        <li>
            <p class="mode">Walking</p>
            <div class="transportation-co2"><input type="text" class="form-control">&nbsp;km</div>
        </li>
        <li>
          <p class="mode">Cycling</p>
          <div class="transportation-co2"><input type="text" class="form-control">&nbsp;km</div>
        </li>
        <li>
          <p class="mode">Scooter</p>
          <div class="transportation-co2"><input type="text" class="form-control" id="mode-scooter">&nbsp;km</div>
        </li>
        <li>
          <p class="mode">Car</p>
          <div class="transportation-co2"><input type="text" class="form-control" id="mode-car">&nbsp;km</div>
        </li>
        <li>
          <p class="mode">Bus</p>
          <div class="transportation-co2"><input type="text" class="form-control" id="mode-bus">&nbsp;km</div>
        </li>
        <li>
          <p class="mode">Tram</p>
          <div class="transportation-co2"><input type="text" class="form-control" id="mode-tram">&nbsp;km</div>
        </li>
        <li>
          <p class="mode">Train</p>
          <div class="transportation-co2"><input type="text" class="form-control" id="mode-train">&nbsp;km</div>
        </li>
        <li>
          <p class="mode">Plane</p>
          <div class="transportation-co2"><input type="text" class="form-control" id="mode-plane">min</div>
        </li>
      </ul>
    </div>
    <div class="btn btn-secondary">
      Submit!
    </div>
    <div class="co2-info">
      <%= image_tag("co2.svg", class: 'co2-icon') %>
      <p id="totalTranspCarbon">0</p>
      <% -(transportation.carbon) %>
    </div>
  </div>
</div>
