<div class="sd-navbar">
  <div class="side-navbar" id="transition">
    <ul>
      <br>
      <br>
      <li>Challenges</li>
      <br>
      <br>
      <li>Dashboard</li>
      <br>
      <br>
      <li>Whatever</li>
      <br>
      <br>
    </ul>
  </div>
</div>
