<div class="container-fluid text-center">
  <div class="about-banner">
    <h1>About PimpYourPrint</h1>
  </div>
  <br>
  <div class="about-text-container">
    <p>PimpYourPrint was an idea initiated at <a href="https://www.lewagon.com/" target="_blank">Le Wagon Berlin bootcamp</a> by 4 students: Anja from Slovenia, Jadwiga from France, Rebeca from Brazil and Nacho from Spain. Although from different countries and backgrounds, we all care deeply for the environment and our impact on it on a daily basis.</p>
    <br>
    <p>We know that we are not the only ones concerned with our <strong>carbon footprint</strong> and the impact our daily habits have on the environment. That's why we decided to create PimpYourPrint. A platform to make it easier for everyone to discover alternative habits and efficiently track progress of our carbon dioxyde emissions.</p>
  </div>
  <br>
  <h3 class= "meet-the-team text-center">Get in touch with us to collaborate!</h3>
  <div class="profile-container text-center">
    <div class="profile-card">
      <img src="https://kitt.lewagon.com/placeholder/users/JadwigaFR" alt="Jadwiga" class="avatar-about profile-picture"></img>
        <a class="profile-name" href="https://github.com/JadwigaFR" target="_blank" title="Jadwiga's GitHub profile" alt="Jadwiga">Jadwiga Coumert <i class="fab fa-github"></i></a>
    </div>
    <div class="profile-card">
      <img src="https://kitt.lewagon.com/placeholder/users/nachospain" alt="Nacho" class="avatar-about profile-picture"></img>
        <a class="profile-name" href="https://github.com/nachospain" target="_blank" title="Nacho's GitHub profile" alt="Nacho">Nacho Lopez <i class="fab fa-github"></i></a>
    </div>
    <div class="profile-card">
      <img src="https://kitt.lewagon.com/placeholder/users/Rebecasa" alt="Rebeca" class="avatar-about profile-picture"></img>
        <a class="profile-name" href="https://github.com/Rebecasa" target="_blank" title="Rebeca's GitHub profile" alt="Rebeca">Rebeca Casa <i class="fab fa-github"></i></a>
    </div>
    <div class="profile-card">
      <img src="https://kitt.lewagon.com/placeholder/users/anjaist" alt="Anja" class="avatar-about profile-picture"></img>
        <a class="profile-name" href="https://github.com/anjaist" target="_blank" title="Anja's GitHub profile" alt="Anja" >Anja Istenič <i class="fab fa-github"></i></a>
    </div>
  </div>
</div>



