<div class="meter">
  <svg viewBox="-1 0 35 109" xmlns="http://www.w3.org/2000/svg">
    <g id="meter" fill="none" fill-rule="evenodd">
      <path id="Fill-10" fill="#ECF4FC" d="M3.726 88.152h26.542v-66.61H3.726z"/>
      <path id="Fill-12" fill="#D5E0EC" d="M3.726 88.152h13.27v-66.61H3.726z"/>
      <g id="Bubbles">
        <path class="bubbles" d="M19 85.102c0-2.762 2.24-5 5-5s5 2.238 5 5c0 2.76-2.24 5-5 5s-5-2.24-5-5z" id="Fill-22" fill="#F8B50F"/>
        <path class="bubbles" d="M10 85.102c0-2.762 2.24-5 5-5s5 2.238 5 5c0 2.76-2.24 5-5 5s-5-2.24-5-5z" id="Fill-22" fill="#F4C200"/>
        <path class="bubbles" d="M7 85.102c0-2.762 2.24-5 5-5s5 2.238 5 5c0 2.76-2.24 5-5 5s-5-2.24-5-5z" id="Fill-22" fill="#F4C200"/>
        <path class="bubbles" d="M14 85.102c0-2.762 2.24-5 5-5s5 2.238 5 5c0 2.76-2.24 5-5 5s-5-2.24-5-5z" id="Fill-22" fill="#F8B50F"/>
        <path class="bubbles" d="M4 85.102c0-2.762 2.24-5 5-5s5 2.238 5 5c0 2.76-2.24 5-5 5s-5-2.24-5-5z" id="Fill-22" fill="#F4C200"/>
      </g>
      <g id="liquid">
        <path id="Fill-13" fill="#F8B50F" d="M3.7 88.532h26.535v-9.795H3.7z"/>
        <path id="Fill-14" fill="#FFC10E" d="M3.7 88.532h13.267v-9.795H3.7z"/>
      </g>
      <path d="M3.726 77.192v2.91h6.256c.83 0 1.456-.653 1.456-1.454 0-.8-.627-1.456-1.456-1.456H3.726z" id="Fill-15" fill="#4C6887"/>
      <path d="M3.726 67.778v2.912h6.256c.83 0 1.456-.644 1.456-1.456 0-.8-.627-1.456-1.456-1.456H3.726z" id="Fill-17" fill="#4C6887"/>
      <path d="M3.726 58.362v2.91h6.256c.83 0 1.456-.653 1.456-1.456 0-.8-.627-1.454-1.456-1.454H3.726z" id="Fill-18" fill="#4C6887"/>
      <path d="M3.726 48.946v2.91h6.256c.83 0 1.456-.653 1.456-1.454 0-.8-.627-1.456-1.456-1.456H3.726z" id="Fill-19" fill="#4C6887"/>
      <path d="M3.726 39.532v2.91h6.256c.83 0 1.456-.656 1.456-1.454 0-.8-.627-1.456-1.456-1.456H3.726z" id="Fill-20" fill="#4C6887"/>
      <path d="M3.726 30.115v2.912h6.256c.83 0 1.456-.655 1.456-1.456 0-.8-.627-1.455-1.456-1.455H3.726z" id="Fill-21" fill="#4C6887"/>
      <path d="M0 17.994v3.547h33.99v-3.546C33.99 8.61 26.394 1 16.994 1 12.296 1 8.054 2.906 4.98 5.982 1.907 9.056 0 13.31 0 17.994" id="Fill-4" fill="#4C6887"/>
      <path d="M33.99 88.15H0v3.547c0 9.386 7.61 16.994 16.994 16.994 4.702 0 8.956-1.903 12.03-4.98 3.075-3.075 4.966-7.33 4.966-12.013V88.15z" id="Fill-7" fill="#4C6887"/>
    </g>
  </svg>
</div>
