<div class="container challenges-container">

    <h1 class="text-center" style="text-decoration: underline">Active challenges</h1>
    <% @challenges_active.each do |challenge|  %>
      <div class="challenge-list">
        <div class="challenge-name"><%= link_to challenge.title, challenge_path(challenge), class:'challenge-title' %>
        </div>
        <div class="challenge-activate">
          <%= link_to activation_path(challenge) do %>
            <span class="activation-link">Deactivate</span>
          <% end %>
        </div>
      </div>
    <% end %>


  <h1 class="text-center" style="text-decoration: underline">Unactive challenges</h1>
  <% @challenges_unactive.each do |challenge|  %>
    <div class="challenge-list">
      <div class="challenge-name"><%= link_to challenge.title, challenge_path(challenge), class:'challenge-title' %>
      </div>
      <div class="challenge-activate">
        <%= link_to activation_path(challenge) do %>
            <span class="activation-link">Activate</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
