<div class="container-fluid">
  <% if current_user.admin? %>
    <%= render 'form_new', challenge: @challenge %>
  <% else %>
    <%= render 'form_suggestion', challenge: @challenge %>
  <% end %>
</div>
