.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 18px;
  line-height: 1.42857;
  color: $white;
}

.btn-primary {
  background-color: $blue;
  &:hover {
    background-color: $darkblue;
  }
}

.btn-secondary {
  background-color: $green;
  &:hover {
    background-color: $darkgreen;
  }
}

.jump-down {
  border-radius: 0;
}
