.challenge-container {
  height: calc(100vh - 70px);
  width: 100vw;
  max-width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.challenge-body {
  height: 80vh;
  width: 80vw;
  max-height: 500px;
  background-color: $blue;
  border-radius: 10px;
  color: $white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  .challenge-title {
    font-size: 25px;
  }
  .challenge-picture {
    height: 20vh;
    width: 30vh;
    border-radius: 10px;
    border: 1px solid $white;
  }
  .challenge-description {
    font-weight: lighter;
  }
  .challenge-category {
    font-size: 15px;
  }
  .btn.btn-secondary{
    box-shadow: 0px 0px 4px #FFFFFF;
  }
}

.co2-info {
  background-color: $green;
  position: absolute;
  top: -30px;
  left: calc(80vw / 2 - 50px);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #FFFFFF;
  .co2-icon {
    height: 40px;
    width: 40px;
  }
}

.challenge-tip {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.unactive {
  background-color: #c9c9c9;
}

#unactive-challenge {
  display:none;
}
