.past-challenges-container {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.challenge-body.past-challenge {
  margin-top: 50px;
  height: 80vh;
  flex: 0 0 25%;
  position: static !important;
}

.challenge-row {
  width: 100%;
  text-align: center;
  position: absolute;
}

.card-container {
  max-height: 540px;
  width: 100vw;
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  margin-top: 45px;
  transition: transform 5s;
}

.challenge-body {
  max-width: 385px;
  height: 80vh;
  width: 93vw;
  max-height: 610px;
  background-color: $blue;
  border-radius: 10px;
  color: $white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  .challenge-title {
    font-size: 25px;
  }
  .challenge-picture {
    height: 25vh;
    width: 35vh;
    border-radius: 10px;
    border: 1px solid $white;
  }
.checked {
    margin: 4px 57px;
  }

  .challenge-category {
    font-size: 15px;
  }

  .challenge-description {
    font-weight: bolder;
    font-size: 20px;
  }

  .btn.btn-secondary{
    box-shadow: 0px 0px 4px #FFFFFF;
  }
}

.co2-info {
  background-color: $green;
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: -35px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #FFFFFF;
  max-width: 180px;
  height: 60px;
  .co2-icon {
    height: 40px;
    width: 40px;
  }
}

.challenge-tip {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#reveal {
  position: relative;
}

.flipcard {
  width: 385px;
  height: 610px;
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  div {
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    -o-backface-visibility: hidden !important;
  }
  .flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
}

.flipcard .back-side {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
}

.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  div {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -o-backface-visibility: visible;
  }
}

.challenge-completed {
  font-weight: lighter;
}

.fa-info-circle {
  content: "\f05a";
  color: whitesmoke !important;
}
